@import '/home/jrk/.cache/wal/colors-waybar.css';

@define-color text-normal #EEEEEE;
@define-color text-bold #FFFFFF;
@define-color btn @color2;
@define-color brdr @color5;
@define-color hi @color1;
@define-color acc @color3;
@define-color urg @color2;
@define-color muted @color15;
@define-color hvr @color7;

* {
  min-height: 0;
  min-width: 0;
  font-family: Hack, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

window#waybar {
  background: alpha(@background, 0.9);
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: @btn;
  color: @text-normal;
  border:none;
}

#workspaces button:hover {
  background-color: @hvr;
  color: @text-bold;
}

#workspaces button.active {
  background-color: @hi;
  color: @text-bold;
}

#workspaces button.urgent {
  background-color: @urg;
  color: @text-bold;
}

#clock,
#idle_inhibitor,
#power-profiles-daemon,
#pulseaudio,
#network,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#mpris {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: @brdr;
  color: @text-normal;
}

#mpris.playing {
  color: @text-bold;
}
#mpris.paused {
  color: @muted;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @urgent-color;
}

#idle_inhibitor {
  background: transparent;
  color: @muted;
}
#idle_inhibitor.activated {
  color: @urg;
}

#power-profiles-daemon {
  color: @text-normal;
  background-color: transparent;
}
#power-profiles-daemon.performance {
    color: @urg;
}
#power-profiles-daemon.power-saver {
    color: @muted;
}

