@import '/home/jrk/.cache/wal/colors-waybar.css';

@define-color main-background @color0;
@define-color border-color @color3;
@define-color highlight-color @color2;
@define-color text-normal #EEEEEE;
@define-color text-bold #FFFFFF;
@define-color accent-color @color3;
@define-color urgent-color @color1;
@define-color muted-color @color8;
@define-color hover-highlight @color6;

* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: @main-background;
    color: @text-normal;
    transition-property: background-color;
    transition-duration: .5s;
    opacity: 0.7;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: @hover-highlight;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @text-normal;
}

#workspaces button:hover {
    box-shadow: inset 0 -3px @hover-highlight;
}

#workspaces button.focused {
    box-shadow: inset 0 -3px @text-bold;
}

#workspaces button.urgent {
    background-color: @urgent-color;
}

#workspaces button.active {
    background-color: @highlight-color;
}

#clock,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#power-profiles-daemon {
    color: @text-normal;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @accent-color;
    color: @text-bold;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: @accent-color;
    color: @text-bold;
}

#power-profiles-daemon.balanced {
    background-color: @highlight-color;
    color: @text-bold;
}

#power-profiles-daemon.power-saver {
    background-color: @muted-color;
    color: @text-bold;
}

label:focus {
    background-color: @border-color;
}

#network {
    background-color: @highlight-color;
    color: @text-bold;
}

#network.disconnected {
    background-color: @urgent-color;
}

#pulseaudio {
    background-color: @accent-color;
    color: @text-bold;
}

#pulseaudio.muted {
    background-color: @muted-color;
}

#tray {
    background-color: @highlight-color;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @urgent-color;
}

#idle_inhibitor {
    background-color: @border-color;
}

#idle_inhibitor.activated {
    background-color: @text-bold;
    color: @border-color;
}
